@charset "UTF-8";
@font-face {
    font-family: 'androidfont';
    src: url("pacote-projeto-d010/fontes/idroid.otf");
}
@font-face {
    font-family: 'mainfont';
    src: url("pacote-projeto-d010/fontes/Roboto-VariableFont_wdth\,wght.ttf");
}
*{
    margin: 0px;
}
:root{
    --body_color: #3DD973;
    --strong: #195935;
    --medium: #2A8C4C;
    --easy: #36BF66;
    --veryeasy: #90d6a8;

    --main_font: 'mainfont';
    --especial-font: 'androidfont';
}
body{
    background-color: var(--body_color);
}
header{
    background-image: linear-gradient(to bottom, #39CF7D, #299156, #195C36);
    font-weight: bold;
    font-family: var(--main_font);
    color: white;
    text-shadow: 1px 1.5px #282626;
}
header > h1{
    letter-spacing: -2px;
    text-align: center;
    padding-top: 20px;
}

header > p{
    text-align: center;
    padding-top: 20px;
}

header > nav{
    padding-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}
header > nav > a{
    text-decoration: none;
    text-shadow: none;
    color: white;
    margin-right: 50px;
}

header > nav > a:hover{
    background-color: #88edac;
    color: var(--strong);
    padding: 5px;
    border-radius: 5px;
    transition: 0.35s;
}

main{
    background-color: white;
    box-shadow: 0px 0px 5px rgba(33, 32, 32, 0.773);
    min-width: 320px;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(--main_font);
}

main > section{
    margin: auto;
}

main > section > h1{
    font-family: var(--especial-font);
    color: var(--strong);
}

main > section > h2{
    font-family: var(--especial-font);
    color: var(--strong);
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #39CF7D, #96f4bf, #dcebe3);
}

main > section > p{
    margin-top: 10px;
    margin-bottom: 10px;
}

main > section > p > strong{
    color: var(--strong);
    background-color: var(--easy);
    border-radius: 3px;
}

main > section > p > strong > a{
    text-decoration: none;
    color: var(--strong);
} 

main > section > p > strong > a:hover{
    text-decoration: underline;
    color: var(--strong);
} 

main > section > picture > img{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

main > section > aside{
    background-color: var(--veryeasy);
    padding: 10px;
    border-radius: 5px;
}

main > section > aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

main > section > aside > h3{
    background-color: var(--strong);
    color: white;
    padding: 10px;
    margin: -10px -10px -10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main > section > aside > p{
    margin-top: 10px;
}

main > section > aside > p > strong > a{
    text-decoration: none;
    color: var(--strong);
} 

main > section > aside > p > strong > a:hover{
    text-decoration: underline;
    color: var(--strong);
} 

img{
    display: block;
    margin: auto;
}

.video{
    background-color: var(--strong);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

.pequena{
    max-width: 350px;
}

footer{
    background-color: var(--strong);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}